<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head lang="ja">
  <meta charset="UTF-8"/>
  <title>ユーザー管理</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
        th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap-theme.min.css}"/>
</head>
<body>
<div layout:fragment="content">
  <div class="col-sm-12">
    TOPページ
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
            th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>

    <div id="content"></div>
    <script src="https://fb.me/react-0.13.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script type="text/javascript" src="build/tutorial4.js"
            th:src="@{/js/tutorial4.js}"></script>
    <script type="text/javascript" src="build/tutorial10.js"
            th:src="@{/js/tutorial10.js}"></script>
    <script type="text/javascript" src="build/tutorial16.js"
            th:src="@{/js/tutorial16.js}"></script>
    <script type="text/javascript" src="build/tutorial19.js"
            th:src="@{/js/tutorial19.js}"></script>
  </div>
</div>
</body>
</html>