<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head lang="ja">
  <meta th:remove="all" charset="UTF-8"/>
  <title>商品購入</title>
  <link th:remove="all" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
  <link th:remove="all" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
  <link th:remove="all" rel="stylesheet" href="../../static/css/main.css"/>
</head>
<body>
<div layout:fragment="content">
  <h1>商品購入の手続きが完了しました</h1>
  <h2>あざっす ＼(^o^)／</h2>
</div>

</body>
</html>